/* Reset y estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #111;
    text-align: center;
}

/* Cabecera */
header {
    background-color: #f3f3f3;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 100px;
    height: auto;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.titulo h1 {
    font-size: 2.5em;
    color: #222;
}

/* Imagen de perfil */
.perfil-container {
    text-align: center;
    margin: 20px 0;
}

.perfil-container img {
    width: 250px;
    height: 250px;
    border-radius: 4%;
    object-fit: cover;
    border: 3px solid #333;
}

/* Menú de navegación */
.menu {
    background-color: #020202bd;
    list-style: none;
    padding: 10px;
    margin: 10;
    display: flex;
    justify-content: space-around;
}

.menu > li {
    position: relative;
    flex: 1;
    text-align: center;
}

.menu > li > a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.menu > li:hover {
    background-color: #1d1a1a;
}

/* Estilos del submenú */
.submenu {
    list-style: none;
    padding: 15px;
    position: center;
    top: 100%;
    left: 0;
    background-color: #252121;
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 150px;
}

.submenu li {
    flex: 1;
    text-align: center;
}

.submenu li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: #c42727;
}

/* Mostrar submenú al pasar el ratón */
.menu li:hover .submenu {
    display: flex;
}

/* Formularios en el submenú */
.input-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}
.submit_button {
    padding: 10px;
    margin-top: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.submit_button:hover {
    background-color: #005f73;
}

.zona-personal {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; /* Espacio entre los dos elementos */
    align-items: flex-start; /* Alineación superior */
    width: 100%;
    margin: 20px auto; /* Centrado */
    padding: 20px;
}
.rutina-ejercicio {
    width: 48%;
    text-align: left;
}

.rutina-ejercicio img {
    width: 100%;
    border-radius: 4px;
    border: 3px solid #333;
}

.reservas {
    width: 48%; 
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.reservas h4 {
    text-align: center;
    margin-bottom: 10px;
}

.reservas ul {
    list-style: none;
    padding: 0;
}

.reservas li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

/* FOOTER */
footer {
    background-color: #185066bd;
    color: burlywood;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.terminos-legales a {
    margin: 0 1rem;
    text-decoration: none;
    color: burlywood;
}

/* AJUSTES RESPONSIVOS */
@media (max-width: 768px) {
.zona.personal {
    flex-direction: column;
    align-items: center;
   }

.rutina-ejercicio, .reservas {
    width: 90%;
}
}
